@font-face {
	font-family: "Clear Sans";
	src: url("/style/fonts/ClearSans-Light.woff");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Clear Sans";
	src: url("/style/fonts/ClearSans-Regular.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Clear Sans";
	src: url("/style/fonts/ClearSans-Bold.woff");
	font-weight: 700;
	font-style: normal;
}
